mat-dialog-content{
  overflow: hidden;
}
.mat-dialog-actions{
  text-align: right;
  .btnYes{
    background-color: #38E4AE;
  }
  .btnNO{
    background-color: #A53860;
  }
}



h2{
  text-align: left;
}
